In [4]:
from pydub import AudioSegment
import ffmpeg

# file path
src = "test.mp3"
dest = "test.wav"

#convert mp3 to wav
sound = AudioSegment.from_mp3(src)
sound.export(dest, format = 'wav')

C:\ProgramData\Anaconda3\lib\site-packages\pydub\utils.py:170: RuntimeWarning: Couldn't find ffmpeg or avconv - defaulting to ffmpeg, but may not work
  warn("Couldn't find ffmpeg or avconv - defaulting to ffmpeg, but may not work", RuntimeWarning)
C:\ProgramData\Anaconda3\lib\site-packages\pydub\utils.py:198: RuntimeWarning: Couldn't find ffprobe or avprobe - defaulting to ffprobe, but may not work
  warn("Couldn't find ffprobe or avprobe - defaulting to ffprobe, but may not work", RuntimeWarning)

FileNotFoundError: [WinError 2] The system cannot find the file specified

In [5]:
import subprocess

subprocess.call(['ffmpeg', '-i', 'test.mp3',
               'test.wav'])

FileNotFoundError: [WinError 2] The system cannot find the file specified

In [17]:
import pandas as pd

In [18]:
df_verse = pd.read_csv("t_kjv.csv")

In [19]:
df_verse.head()

,field,field.1,field.2,field.3,field.4
0,1001001,1,1,1,In the beginning God created the heaven and th...
1,1001002,1,1,2,"And the earth was without form, and void; and ..."
2,1001003,1,1,3,"And God said, Let there be light: and there wa..."
3,1001004,1,1,4,"And God saw the light, that it was good: and G..."
4,1001005,1,1,5,"And God called the light Day, and the darkness..."

In [20]:
df_key = pd.read_csv("key_english.csv")

In [21]:
df_key.head()

   field      field.1 field.2  field.3
0      1      Genesis      OT        1
1      2       Exodus      OT        1
2      3    Leviticus      OT        1
3      4      Numbers      OT        1
4      5  Deuteronomy      OT        1

In [22]:
df_key.drop(['field.2', 'field.3'], axis = 1)

    field      field.1
0       1      Genesis
1       2       Exodus
2       3    Leviticus
3       4      Numbers
4       5  Deuteronomy
..    ...          ...
61     62       1 John
62     63       2 John
63     64       3 John
64     65         Jude
65     66   Revelation

[66 rows x 2 columns]

In [23]:
df_verse = df_verse.drop(['field'], axis = 1)

In [24]:
df_verse['field.1'] = df_verse['field.1'].map(df_key.set_index('field')['field.1'])

In [25]:
df_verse.tail()

,field.1,field.2,field.3,field.4
31098,Revelation,22,17,"And the Spirit and the bride say, Come. And le..."
31099,Revelation,22,18,For I testify unto every man that heareth the ...
31100,Revelation,22,19,And if any man shall take away from the words ...
31101,Revelation,22,20,"He which testifieth these things saith, Surely..."
31102,Revelation,22,21,The grace of our Lord Jesus Christ be with you...

In [26]:
df_verse.rename(columns = {'field.1' : 'book', 'field.2' : 'chapter', 'field.3' : 'verse', 'field.4' : 'text'}, inplace = True)

In [28]:
df_verse.head()

      book  chapter  verse                                               text
0  Genesis        1      1  In the beginning God created the heaven and th...
1  Genesis        1      2  And the earth was without form, and void; and ...
2  Genesis        1      3  And God said, Let there be light: and there wa...
3  Genesis        1      4  And God saw the light, that it was good: and G...
4  Genesis        1      5  And God called the light Day, and the darkness...

In [30]:
df_verse.to_csv('verse.csv', index = False)